@import "tailwindcss";


/* can be in index.css or global css */
.input {
  @apply w-full rounded-xl border border-gray-300 px-4 py-3
  focus:outline-none focus:ring-2 focus:ring-orange-500
  focus:border-orange-500 transition;
}


body {
  @apply bg-[#213C51]; 
}

/* Sidebar scrollbar (modern thin style) */
.sidebar-scroll::-webkit-scrollbar {
  width: 6px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

/*HTML editit Css */
.ProseMirror {
  min-height: 220px;
  padding: 16px;
  outline: none;
  cursor: text;
}

.ProseMirror p {
  min-height: 1em;
}

.ProseMirror-focused {
  outline: none;
}

/* Bullet list */
.ProseMirror ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

/* Numbered list */
.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

/* List item spacing */
.ProseMirror li {
  margin: 0.25rem 0;
}


/* Scrollbar width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

/* Add this to your Global CSS or Style block */
svg > g > g:last-child {
  pointer-events: none ;
}
.google-visualization-tooltip {
  pointer-events: none ;
  border: none ;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5) ;
}